body{
    margin: 0px;
}
h1{
    margin-top: 0;
}
p{
    margin-top:  0;
}
.navigationBar{   
    height: 120px;
    width: 100%;
    background-color: #161616;
    
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navigationBar a{
    color: white;
    font-size: 1.4rem;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    position: relative;
    top: 40%;
   
}
.navigationBar a:hover{
    color: red; 
    transition: all 300ms ease-in-out;
}
.Restaraunt_logo{
    height: 100%;
    width: 150px;
    position: absolute;
    top: 0px;
}
.welcome_container{
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(Images/welcomeImage.png);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: 100%;
    height: 600px;
    width: 100%;
    
}
.welcome_text{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.menu_container{
    text-align: center;
    height: 600px;
    width: 100%;
    background-color: rgba(246, 221, 191, 0.608);
    /* Your outer div must be position: relative if you intend on putting other div's inside. */
    /* Parent div is relative, and child div is absolute. */
    position: relative;
    
}
.h1_style1{
    
    font-size: 2.5rem;
}
.taco_card{
    margin-left: 13%;
    height: 450px;
    width: 325px;
    background-color: black;
    position: absolute;
    float: left;
    
}
.taco_card_2{
    height: 450px;
    width: 325px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.taco_card_3{
    height: 450px;
    width: 325px;
    position: relative;
    float: right;
    margin-right: 13%;
}
.caption{
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: 0.6s;
}
.caption:hover{
    opacity: 1;
}
.caption_text{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.caption_text button{
    background-color: red;
    font-size: 1.1rem;
    padding: 10px;
    margin: 10px;
    border-radius: 1rem;
    border: solid black 2px;
    cursor: pointer;
}
.special_deals_container{
    text-align: center;
    height: 750px;
    width: 100%;
    background-color: bisque;
} 
.special_deal_column_container{
    /* this is the flexbox way of centering 3 divs */
    display: flex;
    justify-content: center;
    align-items: center;
}

.special_deal_column{
    text-align: left;
    /* center the divs themselves not the*/
    height: 500px;
    width: 400px;
    margin: 20px;
   
}
.final_info_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    background-color: rgb(69, 4, 69);
}
.final_info_container div{
    text-align: center;
    color: white;
    height: 400px;
    width: 400px;
    
    margin: 30px;
}
/* placeOrderPage.html styling starts here*/
.ordering_page_container{
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}
header{
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}
header .shopping{
    position: relative;
    text-align: right;
}
header .shopping img{
    width: 40px;
    cursor: pointer;
}
header .shopping span{
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}
.scroll_div{
    height: 700px;
    width: 450px;
    background-color: #e8bc08;
    margin: auto;
    overflow: hidden;
    overflow-y: scroll;
}
.shopping_cart_container{
    position: fixed;
    top: -50px;
    left: 100%;
    height: 100vh;
    width: 500px;
    background-color: #453e3b;
    transition: 0.5s;
    
}
.shopping_cart_container h1{
    color: #e8bc08;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.shopping_cart_container .checkout{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.shopping_cart_container .checkout div{
    background-color: #e8bc08;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.shopping_cart_container .checkout div:nth-child(2){
    background-color: #161616;
    color: #fff;
}
.active .shopping_cart_container{
    left: calc(100% - 50px);
}
.active .ordering_page_container{
    transform: translateX(-200px);
}
.card_container{
    display: flex;
    flex-direction: row;
}
.order_page_button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 10px;
    margin: 0 auto;
    background-color: red;
    border: solid black 2px;
    color: #fff;
    cursor: pointer;
}
.card{
    height: 350px;
    width: 250px;
    background-color: #E3E7E8;
    margin: 10px;
}
.mex_plate_card_container{
    display: flex;
    flex-direction: row;
}
.mex_plate_card{
    height: 350px;
    width: 250px;
    background-color: aqua;
    margin: 10px;
}
.special_deal_card_container{
    display: flex;
    flex-direction: row;
}
.special_deal_card{
    height: 250px;
    width: 250px;
    background-color: purple;
    margin: 10px;
}
/*  background-color: black;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/